.transactions-table {
  .td-overflow {
    width: 300px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .user-link {
    a:hover {
      text-decoration: none;
      color: $gray-dark-secondary;
    }
  }
}
